/*
@include sp($point-sp) {}
@include pc01($point-pc01) {}
@include pc02($point-pc02) {}
*/

@charset "utf-8";

.siteTitle {
  text-align: center;
  margin: 40px 0;
  padding: 0 40px;
  svg {
    width: 504px;
    max-width: 100%;
    height: 56px;
    path {
      /* 100%だと最後まで表示されないので多めに設定する */
      stroke-dasharray: 150% 150%;
      /* 線が細いほうがアニメーションが綺麗なので0.5pxを指定 */
      stroke-width: 0.5px;
      -webkit-animation: stroke-anim 3s linear;
      animation: stroke-anim 3s linear;
    }
  }
}
@-webkit-keyframes stroke-anim {
  0% {
    /* 100%だと最後まで表示されないので多めに設定する */
    stroke-dashoffset: 200%;
    fill:transparent;
  }
  70% {
    fill:transparent;
  }
  100% {
    stroke-dashoffset: 0%;
  }
}

@keyframes stroke-anim {
  0% {
    /* 100%だと最後まで表示されないので多めに設定する */
    stroke-dashoffset: 200%;
    fill:transparent;
  }
  70% {
    fill:transparent;
  }
  100% {
    stroke-dashoffset: 0%;
  }
}

.mainContents {
  margin: 0 50px;
  .listTitle {
    font-size: 2em;
    font-weight: normal;
    margin: 0 0 1em;
  }
  .toDo {
    margin: 1em 0;
    &List {
    }
  }
}
